@model dynamic
@using Orchard.Security;
@using Orchard.DisplayManagement.Descriptors;
@using Orchard.UI.Resources;
@using Orchard;
@using Orchard.ContentManagement;

@{
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    Style.Include("bootstrap.css");
    Style.Include("bootstrap-responsive.css");
    //Style.Include("ie.css").UseCondition("gte IE 9").SetAttribute("media", "screen, projection");
    //Style.Include("ie8.css").UseCondition("IE 8").SetAttribute("media", "screen, projection");
    //Style.Include("ie7.css").UseCondition("lte IE 7").SetAttribute("media", "screen, projection");
    Script.Require("jQuery");
    Script.Require("ShapesBase");
    //Script.Include("admin.js");
    Script.Include("bootstrap.js");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Inserting some ad hoc shapes
    ***************************************************************/

    // these are just hacked together to fire existing partials... can change
    Model.Header.Add(Display.Header());

    Model.Header.Add(Display.User(CurrentUser: WorkContext.CurrentUser));
    Model.Footer.Add(Display.OrchardVersion());

    Model.TitleZone.Add(Display.Title(Title: Model.Title));
    
    //if (Model.Title != null) {
    //    Model.Header.Add(Display.Title(Title: Model.Title));
    //}
}

@if (Model.Header != null)
{
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                @Zone(Model.Header)
            </div>
        </div>
    </div>
}
<div class="container">
    @if (Model.TitleZone != null)
    { 
        <div class="row">
            <div class="span9 offset3">
                @Zone(Model.TitleZone)
            </div>
        </div>
    }
    <div id="layout-main" class="row">
        <div class="span3">
        @if (Model.Navigation != null)
        {
            @Zone(Model.Navigation)
        }
        </div>
        <div class="span9">
            @if (Model.Messages != null)
            {
            <div id="messages">
                @Zone(Model.Messages)
            </div>
            }

            @if (Model.BeforeContent != null)
            {
            <div id="before-content">
                @Zone(Model.BeforeContent)
            </div>
            }

            @if (Model.LocalNavigation != null)
            {
            <div id="local-navigation">
                @Zone(Model.LocalNavigation)
            </div>
            }

            @if (Model.Content != null)
            {
            <div id="content" class="group">
                @Zone(Model.Content)
            </div>
            }

            @if (Model.AfterContent != null)
            {
            <div id="after-content">
                @Zone(Model.AfterContent)
            </div>
            }
        </div>
    </div>
</div>

@if (Model.Footer != null)
{
<div id="footer" role="contentinfo" class="container">
    <div class="row">
        <div class="span12">
            @Zone(Model.Footer)
        </div>
    </div>
</div>
}

@using (Script.Foot())
{
<script type="text/javascript">
//<![CDATA[
    var confirmRemoveMessage = '@T("Are you sure you want to remove this element ?")';
//]]>
</script>
}